:root {
  --theme-color: #4a4a4a;
  --tw-bg-opacity: 0.7;
}

*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  isolation: isolate;
  height: 100%;
}

body {
  line-height: 1.5;
  font-family: 'Helvetica Neue';
  -webkit-font-smoothing: antialiased;
  background-color: rgb(234 234 234 / var(--tw-bg-opacity));
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  color: var(--theme-color);
}
